## AI Ranking Algorithms Implementaion - BORDA, SMART, TOPSIS

## SMART & BORDA code written by me - Â© or1610

In [1]:
import pandas as pd

## BORDA Algorithms Implementaion -  First Example

In [2]:
# import image module
from IPython.display import Image
  
# get the image
Image(url = "example1ranking.jpg", width=500, height=500)

In [3]:
data=[['System A',1.9, 2.4, 1.2 , 6.4 , 5.3, 3.2, 5.1],
      ['System B',2.6, 2.6, 1.2 , 7.1 , 5.2, 4.2, 6.1],
      ['System C',1.8, 3.4, 1.7 , 7.3 , 6.1, 6.1, 8.5],
      ['System D',2.4, 3.5, 1.6 , 7.3 , 5.9, 6.4, 8.3],
      ['System E',2.2, 2.9, 1.5 , 7.3 , 5.4, 4.5, 6.3] ]

df2 = pd.DataFrame(data,columns=['Name','MOE1','MOE2','MOE3','MOE4','MOE5','MOE6','MOE7'])
print(df2)

       Name  MOE1  MOE2  MOE3  MOE4  MOE5  MOE6  MOE7
0  System A   1.9   2.4   1.2   6.4   5.3   3.2   5.1
1  System B   2.6   2.6   1.2   7.1   5.2   4.2   6.1
2  System C   1.8   3.4   1.7   7.3   6.1   6.1   8.5
3  System D   2.4   3.5   1.6   7.3   5.9   6.4   8.3
4  System E   2.2   2.9   1.5   7.3   5.4   4.5   6.3

In [4]:
def BORDA_ex2(df): 
    # get the number of rows and columns
    m = df.shape
    rows = m[0]
    columns = m[1]
    # for each row
    df1 = df.copy()
    print("the original dataframe \n")
    print(df, " \n" )
    #the positive parameters 
    df_p = df1.loc[ :: , ['MOE1','MOE2','MOE3','MOE4','MOE5','MOE6','MOE7']].rank(axis=0, method='average', numeric_only=True, ascending=False)
    df_f = df_p 
    print("the initially first ranked: the best gets the higher score \n")
    print(df_f, " \n" )
    rows, columns = df.shape
    # initialize the score list
    score = [0] * rows 
    # for each row
    for i in range(rows):
        # for each column
        for j in range(columns-1):# editing value via N - number of rows 
            df_f.iloc[i, j] = abs(rows - df_f.iloc[i, j])
    print("the second ranked: with sub of number of rows \n")
    print(df_f, " \n" )
    #creating score column 
    for i in range(rows):
        # for each column
        for j in range(columns-1): # add the score
            score[i] =  score[i] + df_f.iloc[i, j]
    # return the score
    # adding score column to the data frame 
    df_f['Score'] = score 
    print("the third ranked: with column of score of each rows \n")
    print(df_f, " \n" )
    #adding the original names to the data frame 
    name_col = df.loc[:: , ['Name']]
    print("the final table ranked with candidiates names \n")
    df_f = pd.merge(df_f,name_col, left_index=True, right_index=True)
    print(df_f, " \n" )
    return df_f

In [5]:
BORDA_ex2(df2)

the original dataframe

       Name  MOE1  MOE2  MOE3  MOE4  MOE5  MOE6  MOE7
0  System A   1.9   2.4   1.2   6.4   5.3   3.2   5.1
1  System B   2.6   2.6   1.2   7.1   5.2   4.2   6.1
2  System C   1.8   3.4   1.7   7.3   6.1   6.1   8.5
3  System D   2.4   3.5   1.6   7.3   5.9   6.4   8.3
4  System E   2.2   2.9   1.5   7.3   5.4   4.5   6.3

the initially first ranked: the best gets the higher score

   MOE1  MOE2  MOE3  MOE4  MOE5  MOE6  MOE7
0   4.0   5.0   4.5   5.0   4.0   5.0   5.0
1   1.0   4.0   4.5   4.0   5.0   4.0   4.0
2   5.0   2.0   1.0   2.0   1.0   2.0   1.0
3   2.0   1.0   2.0   2.0   2.0   1.0   2.0
4   3.0   3.0   3.0   2.0   3.0   3.0   3.0

the second ranked: with sub of number of rows

   MOE1  MOE2  MOE3  MOE4  MOE5  MOE6  MOE7
0   1.0   0.0   0.5   0.0   1.0   0.0   0.0
1   4.0   1.0   0.5   1.0   0.0   1.0   1.0
2   0.0   3.0   4.0   3.0   4.0   3.0   4.0
3   3.0   4.0   3.0   3.0   3.0   4.0   3.0
4   2.0   2.0   2.0   3.0   2.0   2.0   2.0

the third ranked: with column of score of each rows

   MOE1  MOE2  MOE3  MOE4  MOE5  MOE6  MOE7  Score
0   1.0   0.0   0.5   0.0   1.0   0.0   0.0    2.5
1   4.0   1.0   0.5   1.0   0.0   1.0   1.0    8.5
2   0.0   3.0   4.0   3.0   4.0   3.0   4.0   21.0
3   3.0   4.0   3.0   3.0   3.0   4.0   3.0   23.0
4   2.0   2.0   2.0   3.0   2.0   2.0   2.0   15.0

the final table ranked with candidiates names

   MOE1  MOE2  MOE3  MOE4  MOE5  MOE6  MOE7  Score      Name
0   1.0   0.0   0.5   0.0   1.0   0.0   0.0    2.5  System A
1   4.0   1.0   0.5   1.0   0.0   1.0   1.0    8.5  System B
2   0.0   3.0   4.0   3.0   4.0   3.0   4.0   21.0  System C
3   3.0   4.0   3.0   3.0   3.0   4.0   3.0   23.0  System D
4   2.0   2.0   2.0   3.0   2.0   2.0   2.0   15.0  System E

   MOE1  MOE2  MOE3  MOE4  MOE5  MOE6  MOE7  Score      Name
0   1.0   0.0   0.5   0.0   1.0   0.0   0.0    2.5  System A
1   4.0   1.0   0.5   1.0   0.0   1.0   1.0    8.5  System B
2   0.0   3.0   4.0   3.0   4.0   3.0   4.0   21.0  System C
3   3.0   4.0   3.0   3.0   3.0   4.0   3.0   23.0  System D
4   2.0   2.0   2.0   3.0   2.0   2.0   2.0   15.0  System E

## BORDA Algorithms Implementaion -  Second Example

In [6]:
# import image module
from IPython.display import Image
  
# get the image
Image(url = "example2ranking.jpg", width=300, height=300)

In [7]:

data=[['Honda',7, 9, 9,8 ],['Ford',8,7,8,7],['Mazda',9,6,8,9],['Subaro',6,7,8,6]]

df = pd.DataFrame(data,columns=['Name','Style','Reliebilty','Fuel','Cost'])

# df.to_csv('file_name.csv') 
print(df)

     Name  Style  Reliebilty  Fuel  Cost
0   Honda      7           9     9     8
1    Ford      8           7     8     7
2   Mazda      9           6     8     9
3  Subaro      6           7     8     6

In [8]:
def BORDA_ex1(df): 
    # get the number of rows and columns
    m = df.shape
    rows = m[0]
    columns = m[1]
    # for each row
    df1 = df.copy()
    print("the original dataframe \n")
    print(df, " \n" )
    #the positive parameters - higher is the best! 
    df_p = df1.loc[ :: , ['Style','Reliebilty','Fuel']].rank(axis=0, method='average', numeric_only=True, ascending=False)
    #the negative parameters  - upsite ranking, lowest is the best! 
    df_n = df1.loc[:: , ['Cost']].rank(axis=0, method='average', numeric_only=True, ascending=True) 
    df_f = pd.merge(df_p,df_n, left_index=True, right_index=True)
    print("the initially first ranked: the best gets the higher score \n")
    print(df_f, " \n" )
    rows, columns = df.shape
    # initialize the score list
    score = [0] * rows 
    # for each row
    for i in range(rows):
        # for each column
        for j in range(columns-1):# editing value via N - number of rows 
            df_f.iloc[i, j] = abs(rows - df_f.iloc[i, j])
    print("the second ranked: with sub of number of rows \n")
    print(df_f, " \n" )
    #creating score column 
    for i in range(rows):
        # for each column
        for j in range(columns-1): # add the score
            score[i] =  score[i] + df_f.iloc[i, j]
    # return the score
    # adding score column to the data frame 
    df_f['Score'] = score 
    print("the third ranked: with column of score of each rows \n")
    print(df_f, " \n" )
    #adding the original names to the data frame 
    name_col = df.loc[:: , ['Name']]
    print("the final table ranked with candidiates names \n")
    df_f = pd.merge(df_f,name_col, left_index=True, right_index=True)
    print(df_f, " \n" )
    return df_f

In [9]:
BORDA_ex1(df)

the original dataframe

     Name  Style  Reliebilty  Fuel  Cost
0   Honda      7           9     9     8
1    Ford      8           7     8     7
2   Mazda      9           6     8     9
3  Subaro      6           7     8     6

the initially first ranked: the best gets the higher score

   Style  Reliebilty  Fuel  Cost
0    3.0         1.0   1.0   3.0
1    2.0         2.5   3.0   2.0
2    1.0         4.0   3.0   4.0
3    4.0         2.5   3.0   1.0

the second ranked: with sub of number of rows

   Style  Reliebilty  Fuel  Cost
0    1.0         3.0   3.0   1.0
1    2.0         1.5   1.0   2.0
2    3.0         0.0   1.0   0.0
3    0.0         1.5   1.0   3.0

the third ranked: with column of score of each rows

   Style  Reliebilty  Fuel  Cost  Score
0    1.0         3.0   3.0   1.0    8.0
1    2.0         1.5   1.0   2.0    6.5
2    3.0         0.0   1.0   0.0    4.0
3    0.0         1.5   1.0   3.0    5.5

the final table ranked with candidiates names

   Style  Reliebilty  Fuel  Cost  Score    Name
0    1.0         3.0   3.0   1.0    8.0   Honda
1    2.0         1.5   1.0   2.0    6.5    Ford
2    3.0         0.0   1.0   0.0    4.0   Mazda
3    0.0         1.5   1.0   3.0    5.5  Subaro

   Style  Reliebilty  Fuel  Cost  Score    Name
0    1.0         3.0   3.0   1.0    8.0   Honda
1    2.0         1.5   1.0   2.0    6.5    Ford
2    3.0         0.0   1.0   0.0    4.0   Mazda
3    0.0         1.5   1.0   3.0    5.5  Subaro

## SMART Algorithm Implementation & Example

In [10]:
# import image module
from IPython.display import Image
  
# get the image
Image(url = "example2ranking.jpg", width=300, height=300)

In [11]:
# import image module
from IPython.display import Image
  
# get the image
Image(url = "smart_algo.jpg", width=500, height=500)

In [12]:
df

     Name  Style  Reliebilty  Fuel  Cost
0   Honda      7           9     9     8
1    Ford      8           7     8     7
2   Mazda      9           6     8     9
3  Subaro      6           7     8     6

In [13]:
w = [0.1,0.4,0.3,0.2]
# sum of wi is 1 
T = [0,0,0,0]
name_col = df.loc[ :: , ['Name']]
df_smart = df.loc[ :: , ['Style','Reliebilty','Fuel','Cost']]
rows, columns = df_smart.shape
for i in range(rows): 
    for j in range(columns-1): 
        T[i] = T[i] + w[i]*df_smart.iloc[i, j]
print(T ,"\n")
df_smart = pd.merge(df_smart ,name_col, left_index=True, right_index=True)
df_smart['SmartScore'] = T 
print(df_smart)

[2.5, 9.2, 6.9, 4.200000000000001]

   Style  Reliebilty  Fuel  Cost    Name  SmartScore
0      7           9     9     8   Honda         2.5
1      8           7     8     7    Ford         9.2
2      9           6     8     9   Mazda         6.9
3      6           7     8     6  Subaro         4.2

## TOPSIS Algotithm Implementation

### Credit https://github.com/Tewatia5355/Topsis_tewatia/blob/master/Topsis_Tewatia/topsis.py

In [14]:
dataset = df.loc[ :: , ['Style','Reliebilty','Fuel','Cost']]
# temp_dataset = dataset 
nRow, nCol = dataset.shape 
weights = [0.1,0.4,0.3,0.2] 
impact = [ "+", "+", "+" ,"-"]
print(dataset)

   Style  Reliebilty  Fuel  Cost
0      7           9     9     8
1      8           7     8     7
2      9           6     8     9
3      6           7     8     6

In [15]:
import pandas as pd
import os
import sys

# name = "Topsis_Tewatia/Topsis_Tewatia"
# __version__ = "1.0.4"
# __author__ = 'Yash Kumar Tewatia'
# __credits__ = 'Thapar Institute of Engineering and Technology'


def main():
    # Arguments not equal to 5
    # print("Checking for Errors...\n")
    if len(sys.argv) != 5:
        print("ERROR : NUMBER OF PARAMETERS")
        print("USAGE : python topsis.py inputfile.csv '1,1,1,1' '+,+,-,+' result.csv ")
        exit(1)

    # File Not Found error
    elif not os.path.isfile(sys.argv[1]):
        print(f"ERROR : {sys.argv[1]} Don't exist!!")
        exit(1)

    # File extension not csv
    elif ".csv" != (os.path.splitext(sys.argv[1]))[1]:
        print(f"ERROR : {sys.argv[1]} is not csv!!")
        exit(1)

    else:
        dataset, temp_dataset = pd.read_csv(
            sys.argv[1]), pd.read_csv(sys.argv[1])
        nCol = len(temp_dataset.columns.values)

        # less then 3 columns in input dataset
        if nCol < 3:
            print("ERROR : Input file have less then 3 columns")
            exit(1)

        # Handeling non-numeric value
        for i in range(1, nCol):
            pd.to_numeric(dataset.iloc[:, i], errors='coerce')
            dataset.iloc[:, i].fillna(
                (dataset.iloc[:, i].mean()), inplace=True)

        # Handling errors of weighted and impact arrays
        try:
            weights = [int(i) for i in sys.argv[2].split(',')]
        except:
            print("ERROR : In weights array please check again")
            exit(1)
        impact = sys.argv[3].split(',')
        for i in impact:
            if not (i == '+' or i == '-'):
                print("ERROR : In impact array please check again")
                exit(1)

        # Checking number of column,weights and impacts is same or not
        if nCol != len(weights)+1 or nCol != len(impact)+1:
            print(
                "ERROR : Number of weights, number of impacts and number of columns not same")
            exit(1)

        if (".csv" != (os.path.splitext(sys.argv[4]))[1]):
            print("ERROR : Output file extension is wrong")
            exit(1)
        if os.path.isfile(sys.argv[4]):
            os.remove(sys.argv[4])
        # print(" No error found\n\n Applying Topsis Algorithm...\n")
        topsis_pipy(temp_dataset, dataset, nCol, weights, impact)


def Normalize(temp_dataset, nCol, weights):
    # normalizing the array
    # print(" Normalizing the DataSet...\n")
    for i in range(1, nCol):
        temp = 0
        for j in range(len(temp_dataset)):
            temp = temp + temp_dataset.iloc[j, i]**2
        temp = temp**0.5
        for j in range(len(temp_dataset)):
            temp_dataset.iat[j, i] = (
                temp_dataset.iloc[j, i] / temp)*weights[i-1]
    return temp_dataset


def Calc_Values(temp_dataset, nCol, impact):
    # print(" Calculating Positive and Negative values...\n")
    p_sln = (temp_dataset.max().values)[1:]
    n_sln = (temp_dataset.min().values)[1:]
    for i in range(1, nCol):
        if impact[i-1] == '-':
            p_sln[i-1], n_sln[i-1] = n_sln[i-1], p_sln[i-1]
    return p_sln, n_sln


def topsis_pipy(temp_dataset, dataset, nCol, weights, impact):
    # normalizing the array
    temp_dataset = Normalize(temp_dataset, nCol, weights)

    # Calculating positive and negative values
    p_sln, n_sln = Calc_Values(temp_dataset, nCol, impact)

    # calculating topsis score
    # print(" Generating Score and Rank...\n")
    score = []
    for i in range(len(temp_dataset)):
        temp_p, temp_n = 0, 0
        for j in range(1, nCol):
            temp_p = temp_p + (p_sln[j-1] - temp_dataset.iloc[i, j])**2
            temp_n = temp_n + (n_sln[j-1] - temp_dataset.iloc[i, j])**2
        temp_p, temp_n = temp_p**0.5, temp_n**0.5
        score.append(temp_n/(temp_p + temp_n))
    dataset['Topsis Score'] = score

    # calculating the rank according to topsis score
    dataset['Rank'] = (dataset['Topsis Score'].rank(
        method='max', ascending=False))
    dataset = dataset.astype({"Rank": int})
    print(dataset)

    # Writing the csv
    # print(" Writing Result to CSV...\n")
#     dataset.to_csv(sys.argv[4], index=False)
    # print(" Successfully Terminated")


if __name__ == "__main__":
    main()

ERROR : NUMBER OF PARAMETERS
USAGE : python topsis.py inputfile.csv '1,1,1,1' '+,+,-,+' result.csv

In [16]:
data=[['Honda',7, 9, 9,8 ],['Ford',8,7,8,7],['Mazda',9,6,8,9],['Subaro',6,7,8,6]]

df = pd.DataFrame(data,columns=['Name','Style','Reliebilty','Fuel','Cost'])

# df.to_csv('file_name.csv') 
print(df) 
df.shape

     Name  Style  Reliebilty  Fuel  Cost
0   Honda      7           9     9     8
1    Ford      8           7     8     7
2   Mazda      9           6     8     9
3  Subaro      6           7     8     6

(4, 5)

In [17]:
dataset = df.copy()
# temp_dataset = dataset 
nRow1, nCol1 = dataset.shape
weights = [0.1,0.4,0.3,0.2] 
impact = [ "+", "+", "+" ,"-"]
print(dataset.shape) 
dataset

(4, 5)

     Name  Style  Reliebilty  Fuel  Cost
0   Honda      7           9     9     8
1    Ford      8           7     8     7
2   Mazda      9           6     8     9
3  Subaro      6           7     8     6

In [18]:
topsis_pipy(dataset, dataset, nCol1, weights, impact)

     Name     Style  Reliebilty      Fuel      Cost  Topsis Score  Rank
0   Honda  0.046157    0.245518  0.163411  0.105501      0.742694     1
1    Ford  0.052750    0.190958  0.145255  0.092313      0.403599     3
2   Mazda  0.059344    0.163679  0.145255  0.118688      0.175870     4
3  Subaro  0.039563    0.190958  0.145255  0.079126      0.441429     2